* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
/* 経費申請フォーム */
.expense-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.2fr 1fr 1.5fr 1.5fr;
    /* gap: 0.1rem; */
}


/* Color */


/* Size */
.width-ninety-five {
    width: 95%;
}
.width-ninety-two-five {
    width: 92.5%;
}
.width-ninety {
    width: 90%;
}
.width-eighty-five {
    width: 85%;
}
.width-forty-two-five {
    width: 42.5%;
}
.width-thirty {
    width: 30%;
}

