
/* 経費申請フォーム */
.input-group-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 1.2rem 5rem;
    background-color: aliceblue;
    border-radius: 12px;
}
.input-form-group {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}
.input-group-main-note {
    background-color: rgba(250, 197, 188, 0.59);
    padding: 1rem;
    border-radius: 12px;
}
.input-group-sub-note {
    font-size: 0.8rem;
}

.form-field {
    margin-bottom: 1rem;
}


/* size */
.width-ninety-five {
    width: 95%;
}
.width-ninety-two-five {
    width: 92.5%;
}
.width-ninety {
    width: 90%;
}
.width-eighty-five {
    width: 85%;
}
.width-forty-two-five {
    width: 42.5%;
}
.width-thirty {
    width: 30%;
}